<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Locale:</strong>
    <%= client.locale %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= client.timezone %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= client.currency %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= client.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= client.user_id %>
  </p>

</div>
